{% extends "base.html" %} {% block content %}

<form method="POST" class="shadow-2xl rounded-2xl mt-10 p-10 w-full bg-white ">
  <h2 class="text-3xl leading-tight font-bold text-blue-900">Crear Pedido</h2>
  {% csrf_token %} {% for field in form %}
  <div class="relative float-label-input">
    {{ field }}
    <label
      class="absolute top-3 left-0 bg-transparent text-gray-400 pointer-events-none transition duration-200 ease-in-outbg-white px-2 text-grey-darker"
      for="{{ field.id_for_label }}"
      >{{field.label}}</label
    >
    <p class="text-red-500 text-xs italic">{{ field.errors.0 }}</p>
  </div>
  {% endfor %}
  <div id="formset-container">
    {{ formset.management_form }} {% if formset.non_form_errors %}
    <div class="text-red-500 text-sm mb-4">
      {% for error in formset.non_form_errors %}
      <p class="text-red-500 text-xs italic">{{ error }}</p>
      {% endfor %}
    </div>
    {% endif %} {% for form in formset %}
    <div class="form-row">
      <div class="relative float-label-input">
        {{form.producto_id }}
        <label
          class="absolute top-3 left-0 bg-transparent text-gray-400 pointer-events-none transition duration-200 ease-in-outbg-white px-2 text-grey-darker"
          for="{{ form.producto_id.id_for_label }}"
          >{{ form.producto_id.label }}</label
        >
        <p class="text-red-500 text-xs italic">
          {{ form.producto_id.errors.0 }}
        </p>
      </div>
      <div class="relative float-label-input">
        {{form.cantidad }}
        <label
          class="absolute top-3 left-0 bg-transparent text-gray-400 pointer-events-none transition duration-200 ease-in-outbg-white px-2 text-grey-darker"
          for="{{ form.cantidad.id_for_label }}"
          >{{ form.cantidad.label }}</label
        >
        <p class="text-red-500 text-xs italic">{{ form.cantidad.errors.0 }}</p>
      </div>
      <hr class="my-10" />
      {% if not forloop.first %}
      <button class='rounded mb-10 border border-red-500 bg-linear-to-r from-red-600 to-red-900 hover:border-red-900 hover:to-red-950 hover:from-red-900 transition-colors duration-200 cursor-pointer py-3 px-9 w-xs text-white' onclick="this.parentElement.remove()">Eliminar</button>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  <button
    type="button"
    class="rounded border border-green-500 bg-linear-to-r from-green-600 to-green-900 hover:border-blue-900 hover:to-green-950 hover:from-green-900 transition-colors duration-200 cursor-pointer py-3 px-9 text-white"
    id="add-form"
  >
    <i class="fa-solid fa-plus"></i>
  </button>
  <br />
  <br />
  <button
    type="submit"
    class="rounded mb-10 border border-blue-500 bg-linear-to-r from-blue-600 to-blue-900 hover:border-blue-900 hover:to-blue-950 hover:from-blue-900 transition-colors duration-200 cursor-pointer py-3 px-9 text-white"
  >
    <i class="fa-solid fa-floppy-disk"></i> Guardar
  </button>
  <br />
  <a
    href="javascript:history.back()"
    class="mt-10 rounded border border-gray-500 bg-linear-to-r from-gray-600 to-gray-900 hover:border-blue-900 hover:to-gray-950 hover:from-gray-900 transition-colors duration-200 cursor-pointer py-3 px-9 w-xs text-white"
  >
    <i class="fa-solid fa-arrow-left"></i> Volver
  </a>
</form>

<script id="nt9o0a">
  const addFormBtn = document.getElementById("add-form");
  const container = document.getElementById("formset-container");
  const totalForms = document.getElementById("id_form-TOTAL_FORMS");
  const formCount = parseInt(totalForms.value);

  document.addEventListener("DOMContentLoaded", (e) => {
    const fields = document.querySelectorAll(".float-label-input");

    fields.forEach((field) => {
      const error = field.querySelector("p");
      const input = field.querySelector("input, select");

      

      if (error.textContent.trim() !== "") {
        input.classList.replace("border-gray-300", "border-red-500");
      }
    });
  });

  addFormBtn.addEventListener("click", function () {
    const firstForm = container.querySelector(".form-row");
    const newForm = firstForm.cloneNode(true);
    newForm.innerHTML += `<button class='rounded mb-10 border border-red-500 bg-linear-to-r from-red-600 to-red-900 hover:border-red-900 hover:to-red-950 hover:from-red-900 transition-colors duration-200 cursor-pointer py-3 px-9 w-xs text-white' onclick="this.parentElement.remove()">Eliminar</button>`;

    // Reemplazar el índice form-0, form-1, etc.
    newForm.innerHTML = newForm.innerHTML.replace(
      /form-(\d)+/g,
      `form-${formCount}`,
    );

    // Limpiar los inputs
    const inputs = newForm.querySelectorAll("input, select, textarea");

    inputs.forEach((input) => {
      if (input.type === "checkbox" || input.type === "radio") {
        input.checked = false;
      } else {
        input.value = "";
      }
    });

    // Eliminar mensajes de error
    const errors = newForm.querySelectorAll(".text-red-500");
    errors.forEach((error) => error.remove());

    container.appendChild(newForm);

    totalForms.value = formCount + 1;
  });
</script>

{% endblock content %}
