{% extends "base.html" %} {% block content %}

<form method="POST" class="shadow-2xl rounded-2xl mt-10 p-10 w-full bg-white">
  <h2 class="text-3xl leading-tight font-bold text-blue-900">Crear Producto</h2>
  {% csrf_token %} {% for field in form %}
  <div class="relative float-label-input">
    {{ field }}
    <label
      class="absolute top-3 left-0 bg-transparent text-gray-400 pointer-events-none transition duration-200 ease-in-outbg-white px-2 text-grey-darker"
      for="{{ field.id_for_label }}"
      >{{ field.label }}</label
    >
    <p class="text-red-500 text-xs italic">{{ field.errors.0 }}</p>
  </div>
  {% endfor %}
  <button
    type="submit"
    class="rounded mb-10 border border-blue-500 bg-linear-to-r from-blue-600 to-blue-900 hover:border-blue-900 hover:to-blue-950 hover:from-blue-900 transition-colors duration-200 cursor-pointer py-3 px-9  text-white"
  >
    <i class="fa-solid fa-floppy-disk"></i> Guardar
  </button>
  <br />
  <a
    href="{% url "listar_productos" %}"
    class="mt-10 rounded border border-gray-500 bg-linear-to-r from-gray-600 to-gray-900 hover:border-blue-900 hover:to-gray-950 hover:from-gray-900 transition-colors duration-200 cursor-pointer py-3 px-9  text-white"
  >
    <i class="fa-solid fa-arrow-left"></i> Volver
  </a>
</form>
<script>
    document.addEventListener("DOMContentLoaded", (e) => {
    const fields = document.querySelectorAll(".float-label-input");

    fields.forEach((field) => {
      const error = field.querySelector("p");
      const input = field.querySelector("input, select");

      

      if (error.textContent.trim() !== "") {
        input.classList.replace("border-gray-300", "border-red-500");
      }
    });
  });

</script>

{% endblock content %}
